<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.autoexec.dao.mapper.AutoexecTypeMapper">

    <select id="getTypeById" parameterType="java.lang.Long" resultMap="typeMap">
        select a.`id`,
               a.`name`,
               a.`description`,
               a.`type`,
               b.auth_type as authType,
               b.auth_uuid as authUuid
        from `autoexec_type` a
                 left join autoexec_type_authority b on b.type_id = a.id and b.`action` = 'add'
        where a.`id` = #{value}
    </select>

    <resultMap id="typeMap" type="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <collection property="autoexecTypeAuthList" ofType="neatlogic.framework.autoexec.dto.AutoexecTypeAuthVo">
            <result column="authType" property="authType"/>
            <result column="authUuid" property="authUuid"/>
        </collection>
    </resultMap>

    <select id="getTypeListByIdList" parameterType="java.lang.Long"
            resultType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        select
        `id`,
        `name`,
        `description`
        from
        `autoexec_type`
        where `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="checkTypeNameIsExists" parameterType="neatlogic.framework.autoexec.dto.AutoexecTypeVo"
            resultType="int">
        select count(1)
        from `autoexec_type`
        where `name` = #{name}
          and `id` != #{id}
    </select>

    <select id="getTypeIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select `id`
        from `autoexec_type`
        where `name` = #{value}
    </select>

    <select id="searchTypeCount" parameterType="neatlogic.framework.autoexec.dto.AutoexecTypeVo" resultType="int">
        select
        count(1)
        <include refid="searchType"></include>
    </select>

    <sql id="searchType">
        from `autoexec_type` a
        <if test="isNeedCheckDataAuth == 1">
            join autoexec_type_authority b on a.id = b.type_id
        </if>
        <where>
            <if test="keyword != null and keyword != ''">
                and (a.`name` LIKE CONCAT('%', #{keyword}, '%')
                OR a.`description` LIKE CONCAT('%',#{keyword}, '%'))
            </if>
            <if test="isNeedCheckDataAuth == 1">
                and b.auth_uuid IN
                (
                'alluser'
                <if test="authUuidList != null and authUuidList.size() > 0">
                    ,
                    <foreach collection="authUuidList" item="item" separator=",">
                        #{item}
                    </foreach>
                </if>
                )
            </if>
        </where>
    </sql>

    <select id="searchType" parameterType="neatlogic.framework.autoexec.dto.AutoexecTypeVo"
            resultType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        select
        a.`id`,
        a.`name`,
        a.`type`,
        a.`description`,
        a.`lcu`,
        a.`lcd`
      <include refid="searchType"></include>
        order by `lcd` desc
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="checkTypeIsExistsById" parameterType="java.lang.Long" resultType="int">
        select count(1)
        from `autoexec_type`
        where `id` = #{value}
    </select>

    <select id="getReferenceCountListForTool" parameterType="java.util.List"
            resultType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        select
        `type_id` as id,
        count(`id`) as referenceCountForTool
        from `autoexec_tool`
        where `type_id` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by `type_id`
    </select>

    <select id="getReferenceCountListForScript" parameterType="java.util.List"
            resultType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        select
        `type_id` as id,
        count(`id`) as referenceCountForScript
        from `autoexec_script`
        where `type_id` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by `type_id`
    </select>

    <select id="getReferenceCountListForCombop" parameterType="java.util.List"
            resultType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        select
        `type_id` as id,
        count(`id`) as referenceCountForCombop
        from `autoexec_combop`
        where `type_id` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by `type_id`
    </select>

    <select id="checkTypeHasBeenReferredById" parameterType="java.lang.Long" resultType="int">
        select sum(refCount)
        from (
                 select count(`id`) as refCount
                 from `autoexec_tool`
                 where `type_id` = #{value}
                 union all
                 select count(`id`) as refCount
                 from `autoexec_script`
                 where `type_id` = #{value}
                 union all
                 select count(`id`) as refCount
                 from `autoexec_combop`
                 where `type_id` = #{value}
             ) a
    </select>

    <select id="getHasAuthTypeIdListByTypeIdList" parameterType="java.lang.Long" resultType="java.lang.Long">
        select distinct
        type_id
        from `autoexec_type_authority`
        where type_id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>

    <select id="getTypeListByNameList" resultMap="typeMap">
        select a.`id`,
        a.`name`,
        a.`description`,
        b.auth_type as authType,
        b.auth_uuid as authUuid
        from `autoexec_type` a
        left join autoexec_type_authority b on b.type_id = a.id
        where a.`name` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getTypeIdListByNameList" resultType="java.lang.Long">
        select a.`id`
        from `autoexec_type` a
        where a.`name` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getAutoexecTypeAuthListByTypeIdAndAction" parameterType="java.util.Map" resultType="neatlogic.framework.autoexec.dto.AutoexecTypeAuthVo">
        SELECT
            `type_id` AS typeId,
            `auth_type` AS authType,
            `auth_uuid` AS authUuid,
            `action`
        FROM `autoexec_type_authority`
        WHERE `type_id` = #{typeId}
          AND `action` = #{action}
    </select>

    <select id="getAutoexecTypeAuthListByTypeIdListAndAction" parameterType="java.util.Map" resultType="neatlogic.framework.autoexec.dto.AutoexecTypeAuthVo">
        SELECT
            `type_id` AS typeId,
            `auth_type` AS authType,
            `auth_uuid` AS authUuid,
            `action`
        FROM `autoexec_type_authority`
        WHERE `action` = #{action}
          AND `type_id` IN
        <foreach collection="typeIdList" item="typeId" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </select>

    <select id="checkAutoexecTypeAuthorityByTypeIdAndActionAndUserUuidAndTeamUuidListAndRoleUuidList" parameterType="java.util.Map" resultType="int">
        SELECT
            COUNT(1)
        FROM `autoexec_type_authority`
        WHERE `type_id` = #{typeId}
          AND `action` = #{action}
          AND (
            (`auth_type` = 'common' AND `auth_uuid` = 'alluser')
            OR (`auth_type` = 'user' AND `auth_uuid` = #{authenticationInfoVo.userUuid})
            <if test="authenticationInfoVo.teamUuidList != null and authenticationInfoVo.teamUuidList.size() > 0">
                OR (`auth_type` = 'team' AND `auth_uuid` IN
                <foreach collection="authenticationInfoVo.teamUuidList" item="teamUuid" open="(" separator="," close=")">
                    #{teamUuid}
                </foreach>
                )
            </if>
            <if test="authenticationInfoVo.roleUuidList != null and authenticationInfoVo.roleUuidList.size() > 0">
                OR (`auth_type` = 'role' AND `auth_uuid` IN
                <foreach collection="authenticationInfoVo.roleUuidList" item="roleUuid" open="(" separator="," close=")">
                    #{roleUuid}
                </foreach>
                )
            </if>
          )
    </select>

    <insert id="insertType" parameterType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        insert into `autoexec_type`(`id`,
                                    `name`,
                                    `description`,
                                    `type`,
                                    `lcu`,
                                    `lcd`)
        values (#{id},
                #{name},
                #{description},
                #{type},
                #{lcu},
                now(3))
        ON DUPLICATE KEY
            UPDATE `name`        = #{name},
                   `description` = #{description},
                   `type`        = #{type},
                   `lcu`         = #{lcu},
                   `lcd`         = now(3);
    </insert>

    <insert id="insertTypeList">
        insert into `autoexec_type`(`id`,
        `name`,
        `description`,
        `type`,
        `lcu`,
        `lcd`)
        values
        <foreach collection="list" item="param" separator=",">
            (#{param.id},
            #{param.name},
            #{param.description},
            #{param.type},
            #{param.lcu},
            #{param.lcd})
        </foreach>
        ON DUPLICATE KEY
        UPDATE `name` =VALUES(name),
        `description` =VALUES(description),
        `type` =VALUES(type),
        `lcu` =VALUES(lcu),
        `lcd` =now(3)
    </insert>

    <insert id="insertTypeAuthList">
        insert into `autoexec_type_authority`(`type_id`,
        `action`,
        `auth_type`,
        `auth_uuid`)
        values
        <foreach collection="list" separator="," item="authVo">
            (#{authVo.typeId},
            #{authVo.action},
            #{authVo.authType},
            #{authVo.authUuid})
        </foreach>
    </insert>

    <insert id="insertBatchTypeAuth">
        insert into `autoexec_type_authority`(`type_id`,
        `action`,
        `auth_type`,
        `auth_uuid`)
        values
        <foreach collection="typeIdList" separator="," item="typeId">
            (#{typeId},
            #{action},
            #{authType},
            #{authUuid})
        </foreach>
    </insert>

    <insert id="insertDeployActiveList">
        insert into deploy_type_status(type_id,is_active)values
        <foreach collection="typeIdList" item="typeId" separator=",">
            (#{typeId},#{isActive})
        </foreach>
        ON DUPLICATE KEY UPDATE
        is_active = #{isActive}
    </insert>

    <update id="updateType" parameterType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        update `autoexec_type`
        set `name`        = #{name},
            `description` = #{description},
            `lcu`         = #{lcu},
            `lcd`         = now(3)
        where `id` = #{id}
    </update>

    <delete id="deleteTypeById" parameterType="java.lang.Long">
        delete
        from `autoexec_type`
        where `id` = #{value}
    </delete>

    <delete id="deleteTypeAuthByTypeId">
        delete
        from `autoexec_type_authority`
        where `type_id` = #{value}
    </delete>
</mapper>

