<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.autoexec.dao.mapper.AutoexecCombopMapper">
    <select id="checkAutoexecCombopIsExists" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(`id`)
        FROM `autoexec_combop`
        WHERE `id` = #{value}
    </select>

    <select id="checkAutoexecCombopNameIsRepeat"
            parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo" resultType="java.lang.Long">
        SELECT `id`
        FROM `autoexec_combop`
        WHERE `name` = #{name}
          AND `id` != #{id} LIMIT 1
    </select>

    <select id="getAutoexecCombopIsActiveByIdForUpdate" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT `is_active`
        FROM `autoexec_combop`
        WHERE `id` = #{value} FOR UPDATE
    </select>

    <select id="getAutoexecCombopById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        SELECT `id`,
               `name`,
               `description`,
               `op_type`        AS opType,
               `type_id`        AS typeId,
               `is_active`      AS isActive,
               `operation_type` AS operationType,
               `owner`,
               `config`         AS configStr,
               `fcd`,
               `fcu`
        FROM `autoexec_combop`
        WHERE `id` = #{value}
    </select>

    <select id="getAutoexecCombopByName" parameterType="java.lang.String"
            resultType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        SELECT `id`,
               `name`,
               `description`,
               `type_id`          AS typeId,
               `is_active`        AS isActive,
               `operation_type`   AS operationType,
               `owner`,
               `config`           AS configStr,
               `fcd`,
               `fcu`
        FROM `autoexec_combop`
        WHERE `name` = #{value}
    </select>

    <select id="getAutoexecCombopByIdList" parameterType="java.util.List"
            resultType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        SELECT
        `id`,
        `name`,
        `description`,
        `type_id` AS typeId,
        `is_active` AS isActive,
        `operation_type` AS operationType,
        `owner`,
        `fcd`,
        `fcu`
        FROM `autoexec_combop`
        WHERE `id` in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAutoexecCombopCount" parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo"
            resultType="int">
        SELECT
        COUNT(`id`)
        FROM `autoexec_combop`
        <where>
            <if test="defaultValue != null and defaultValue.size() > 0">
                AND `id` IN
                <foreach collection="defaultValue" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="keyword != null and keyword != ''">
                AND (`name` LIKE concat('%', #{keyword}, '%') OR `description` LIKE concat('%', #{keyword}, '%'))
            </if>
            <if test="typeId != null">
                AND `type_id` = #{typeId}
            </if>
            <if test="isActive != null">
                AND `is_active` = #{isActive}
            </if>
        </where>
    </select>

    <select id="getAutoexecCombopList" parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo"
            resultType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        SELECT
        `id`,
        `name`,
        `description`,
        `type_id` AS typeId,
        `is_active` AS isActive,
        `operation_type` AS operationType,
        `op_type` as opType,
        `owner`,
        `fcd`,
        `fcu`
        FROM `autoexec_combop`
        <where>
            <if test="defaultValue != null and defaultValue.size() > 0">
                AND `id` IN
                <foreach collection="defaultValue" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="keyword != null and keyword != ''">
                AND (`name` LIKE concat('%', #{keyword}, '%') OR `description` LIKE concat('%', #{keyword}, '%'))
            </if>
            <if test="typeId != null">
                AND `type_id` = #{typeId}
            </if>
            <if test="isActive != null">
                AND `is_active` = #{isActive}
            </if>
        </where>
        ORDER BY `id` DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getAutoexecCombopIdList" parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo"
            resultType="java.lang.Long">
        SELECT
        `id`
        FROM `autoexec_combop`
        <where>
            <if test="keyword != null and keyword != ''">
                AND `name` LIKE concat('%', #{keyword}, '%')
            </if>
            <if test="typeId != null">
                AND `type_id` = #{typeId}
            </if>
            <if test="isActive != null">
                AND `is_active` = #{isActive}
            </if>
        </where>
        ORDER BY `id` DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getAutoexecCombopListByIdList" parameterType="java.lang.Long"
            resultType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        SELECT
        `id`,
        `name`,
        `description`,
        `type_id` AS typeId,
        `is_active` AS isActive,
        `operation_type` AS operationType,
        `owner`,
        `fcd`,
        `fcu`
        FROM `autoexec_combop`
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAutoexecCombopAuthorityListByCombopId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopAuthorityVo">
        SELECT `type`,
               `uuid`,
               `action`
        FROM `autoexec_combop_authority`
        WHERE `combop_id` = #{value}
    </select>

    <select id="getAutoexecCombopAuthorityListByCombopIdAndUserUuidAndTeamUuidListAndRoleUuidList"
            resultType="java.lang.String">
        SELECT
        `action`
        FROM `autoexec_combop_authority`
        WHERE `combop_id` = #{combopId}
        AND (
        (type = 'common' AND `uuid` = 'alluser')
        OR (type = 'user' AND `uuid` = #{userUuid})
        <if test="teamUuidList != null and teamUuidList.size() > 0">
            OR (type = 'team' AND `uuid` IN
            <foreach collection="teamUuidList" item="teamUuid" open="(" separator="," close=")">
                #{teamUuid}
            </foreach>
            )
        </if>
        <if test="roleUuidList != null and roleUuidList.size() > 0">
            OR (type = 'role' AND `uuid` IN
            <foreach collection="roleUuidList" item="roleUuid" open="(" separator="," close=")">
                #{roleUuid}
            </foreach>
            )
        </if>
        )
    </select>

    <sql id="getExecutableAutoexecCombopIdListSql">
        SELECT
        a.`id`
        FROM `autoexec_combop` a
        LEFT JOIN `autoexec_combop_authority` b ON b.`combop_id` = a.`id`
        WHERE (a.`owner` = #{authenticationInfoVo.userUuid}
        OR
        (type = 'common' AND `uuid` = 'alluser')
        OR (type = 'user' AND `uuid` = #{authenticationInfoVo.userUuid})
        <if test="authenticationInfoVo.teamUuidList != null and authenticationInfoVo.teamUuidList.size() > 0">
            OR (type = 'team' AND `uuid` IN
            <foreach collection="authenticationInfoVo.teamUuidList" item="teamUuid" open="(" separator="," close=")">
                #{teamUuid}
            </foreach>
            )
        </if>
        <if test="authenticationInfoVo.roleUuidList != null and authenticationInfoVo.roleUuidList.size() > 0">
            OR (type = 'role' AND `uuid` IN
            <foreach collection="authenticationInfoVo.roleUuidList" item="roleUuid" open="(" separator="," close=")">
                #{roleUuid}
            </foreach>
            )
        </if>
        )
    </sql>

    <select id="getExecutableAutoexecCombopIdListByKeywordAndAuthenticationInfo" resultType="java.lang.Long">
        <include refid="getExecutableAutoexecCombopIdListSql"/>
        <if test="keyword != null and keyword != ''">
            AND (a.`name` LIKE CONCAT('%', #{keyword}, '%') OR `description` LIKE concat('%', #{keyword}, '%'))
        </if>
        <if test="typeId != null">
            AND a.`type_id` = #{typeId}
        </if>
    </select>

    <select id="getExecutableAutoexecCombopIdListByAuthenticationInfo" resultType="java.lang.Long">
        <include refid="getExecutableAutoexecCombopIdListSql"/>
    </select>

    <select id="checkAutoexecCombopIdListIsExists" parameterType="java.util.List" resultType="java.lang.Long">
        SELECT `id` FROM `autoexec_combop` WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="checkItHasBeenGeneratedToCombopByOperationId" parameterType="java.lang.Long"
            resultType="java.lang.Long">
        SELECT `combop_id`
        FROM `autoexec_operation_generate_combop`
        WHERE `operation_id` = #{value}
    </select>

    <select id="getAutoexecTypeListByCombopIdList" parameterType="java.util.List"
            resultType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        select id,
        `name`,
        `description`
        from autoexec_type
        where id in (
            select type_id from autoexec_combop
            <where>
                <if test="combopIdList != null and combopIdList.size() > 0">
                    id in
                    <foreach collection="combopIdList" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
            </where>
        )
    </select>

    <select id="getAllAutoexecTypeListUsedByCombop"
            resultType="neatlogic.framework.autoexec.dto.AutoexecTypeVo">
        select id,
        `name`,
        `description`
        from autoexec_type
        where id in ( select distinct type_id from autoexec_combop )
    </select>

    <select id="getAutoexecCombopCountForUpdateConfig" resultType="int">
        SELECT COUNT(1) FROM `autoexec_combop`
    </select>

    <select id="getAutoexecCombopListForUpdateConfig" parameterType="neatlogic.framework.common.dto.BasePageVo" resultType="java.util.HashMap">
        SELECT
            `id`,
            `name`,
            `config`
        FROM `autoexec_combop`
        LIMIT #{startNum}, #{pageSize}
    </select>

    <insert id="insertAutoexecCombop" parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        INSERT INTO `autoexec_combop` (`id`,
                                       `name`,
                                       `description`,
                                       `type_id`,
                                       `op_type`,
                                       `is_active`,
                                       `operation_type`,
                                       `owner`,
                                       `config`,
                                       `fcd`,
                                       `fcu`,
                                       `lcd`,
                                       `lcu`)
        VALUES (#{id},
                #{name},
                #{description},
                #{typeId},
                #{opType},
                #{isActive},
                #{operationType},
                #{owner},
                #{configStr},
                NOW(3),
                #{fcu},
                NOW(3),
                #{fcu})
    </insert>

    <insert id="insertAutoexecCombopAuthorityVoList"
            parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopAuthorityVo">
        INSERT INTO `autoexec_combop_authority` (
        `combop_id`,
        `type`,
        `uuid`,
        `action`
        )
        VALUES
        <foreach collection="list" item="authorityVo" separator=",">
            (
            #{authorityVo.combopId},
            #{authorityVo.type},
            #{authorityVo.uuid},
            #{authorityVo.action}
            )
        </foreach>
    </insert>

    <insert id="insertAutoexecOperationGenerateCombop">
        INSERT INTO `autoexec_operation_generate_combop` (`combop_id`,
                                                          `operation_type`,
                                                          `operation_id`)
        VALUES (#{combopId},
                #{operationType},
                #{operationId})
    </insert>

    <update id="updateAutoexecCombopById" parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        UPDATE `autoexec_combop`
        SET `name`             = #{name},
            `description`      = #{description},
            `type_id`          = #{typeId},
            `op_type`          = #{opType},
            `owner`            = #{owner},
            `config`           = #{configStr},
            `lcu`              = #{lcu},
            `lcd`              = NOW(3)
        WHERE `id` = #{id}
    </update>

    <update id="updateAutoexecCombopIsActiveById"
            parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        UPDATE `autoexec_combop`
        SET `is_active` = !`is_active`,
            `lcu`       = #{lcu},
            `lcd`       = NOW(3)
        WHERE `id` = #{id}
    </update>

    <update id="updateAutoexecCombopConfigById"
            parameterType="neatlogic.framework.autoexec.dto.combop.AutoexecCombopVo">
        UPDATE `autoexec_combop`
        SET `config` = #{configStr},
            `lcu`    = #{lcu},
            `lcd`    = NOW(3)
        WHERE `id` = #{id}
    </update>

    <update id="updateAutoexecCombopConfigByIdAndConfigStr" parameterType="java.util.Map">
        UPDATE `autoexec_combop` SET `config` = #{configStr} WHERE `id` = #{id}
    </update>

    <delete id="deleteAutoexecCombopById" parameterType="java.lang.Long">
        DELETE
        FROM `autoexec_combop`
        WHERE `id` = #{value}
    </delete>

    <delete id="deleteAutoexecCombopAuthorityByCombopId" parameterType="java.lang.Long">
        DELETE
        FROM `autoexec_combop_authority`
        WHERE `combop_id` = #{value}
    </delete>

    <delete id="deleteAutoexecOperationGenerateCombop" parameterType="java.lang.Long">
        DELETE FROM `autoexec_operation_generate_combop` WHERE `combop_id` = #{value}
    </delete>
</mapper>
