<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2021 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.autoexec.dao.mapper.AutoexecScheduleMapper">

    <select id="checkAutoexecScheduleNameIsExists"
            parameterType="neatlogic.framework.autoexec.dto.schedule.AutoexecScheduleVo" resultType="int">
        SELECT COUNT(1)
        FROM `autoexec_schedule`
        WHERE `name` = #{name}
          and `id` != #{id}
    </select>

    <select id="getAutoexecScheduleById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        SELECT `id`,
               `uuid`,
               `name`,
               `autoexec_combop_id` AS autoexecCombopId,
               `begin_time`         AS beginTime,
               `end_time`           AS endTime,
               `cron`,
               `is_active`          AS isActive,
               `config`             AS configStr,
               `fcd`,
               `fcu`,
               `lcd`,
               `lcu`
        FROM `autoexec_schedule`
        WHERE `id` = #{value}
    </select>

    <select id="getAutoexecScheduleByUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        SELECT `id`,
               `uuid`,
               `name`,
               `autoexec_combop_id` AS autoexecCombopId,
               `begin_time`         AS beginTime,
               `end_time`           AS endTime,
               `cron`,
               `is_active`          AS isActive,
               `config`             AS configStr,
               `fcd`,
               `fcu`,
               `lcd`,
               `lcu`
        FROM `autoexec_schedule`
        WHERE `uuid` = #{value}
    </select>

    <select id="getAutoexecScheduleCount" parameterType="neatlogic.framework.autoexec.dto.schedule.AutoexecScheduleVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `autoexec_schedule`
        <where>
            <if test="keyword != null and keyword != ''">
                AND `name` LIKE concat('%', #{keyword}, '%')
            </if>
            <if test="isActive != null">
                AND `is_active` = #{isActive}
            </if>
            <if test="autoexecCombopId != null">
                AND `autoexec_combop_id` = #{autoexecCombopId}
            </if>
        </where>
    </select>

    <resultMap id="jobDetailMap" type="neatlogic.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="name" property="name"/>
        <result column="autoexecCombopId" property="autoexecCombopId"/>
        <result column="beginTime" property="beginTime"/>
        <result column="endTime" property="endTime"/>
        <result column="cron" property="cron"/>
        <result column="isActive" property="isActive"/>
        <result column="config" property="configStr"/>
        <result column="fcd" property="fcd"/>
        <result column="fcu" property="fcu"/>
        <result column="lcd" property="lcd"/>
        <result column="lcu" property="lcu"/>
        <association property="jobStatus" resultMap="jobStatusMap"/>
    </resultMap>

    <resultMap id="jobStatusMap" type="neatlogic.framework.scheduler.dto.JobStatusVo">
        <result column="job_name" property="jobName"/>
        <result column="job_group" property="jobGroup"/>
        <result column="handler" property="handler"/>
        <result column="nextFireTime" property="nextFireTime"/>
        <result column="lastFireTime" property="lastFireTime"/>
        <result column="lastFinishTime" property="lastFinishTime"/>
        <result column="execCount" property="execCount"/>
    </resultMap>

    <select id="getAutoexecScheduleList" parameterType="neatlogic.framework.autoexec.dto.schedule.AutoexecScheduleVo"
            resultMap="jobDetailMap">
        SELECT
        a.`id`,
        a.`uuid`,
        a.`name`,
        a.`autoexec_combop_id` AS autoexecCombopId,
        a.`begin_time` AS beginTime,
        a.`end_time` AS endTime,
        a.`cron`,
        a.`is_active` AS isActive,
        a.`config` AS configStr,
        a.`fcd`,
        a.`fcu`,
        a.`lcd`,
        a.`lcu`,
        b.job_name as jobName,
        b.job_group as jobGroup,
        b.handler,
        b.last_finish_time as lastFinishTime,
        b.last_fire_time as lastFireTime,
        b.next_fire_time as nextFireTime,
        b.exec_count as execCount
        FROM `autoexec_schedule` a
        LEFT JOIN schedule_job_status b ON a.uuid = b.job_name
        <where>
            <if test="keyword != null and keyword != ''">
                AND a.`name` LIKE concat('%', #{keyword}, '%')
            </if>
            <if test="isActive != null">
                AND a.`is_active` = #{isActive}
            </if>
            <if test="autoexecCombopId != null">
                AND a.`autoexec_combop_id` = #{autoexecCombopId}
            </if>
        </where>
        ORDER BY a.`lcd` DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <insert id="insertAutoexecSchedule" parameterType="neatlogic.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        INSERT INTO `autoexec_schedule` (`id`,
                                         `uuid`,
                                         `name`,
                                         `autoexec_combop_id`,
                                         `begin_time`,
                                         `end_time`,
                                         `cron`,
                                         `is_active`,
                                         `config`,
                                         `fcd`,
                                         `fcu`,
                                         `lcd`,
                                         `lcu`)
        VALUES (#{id},
                #{uuid},
                #{name},
                #{autoexecCombopId},
                #{beginTime},
                #{endTime},
                #{cron},
                #{isActive},
                #{configStr},
                NOW(3),
                #{fcu},
                NOW(3),
                #{fcu})
    </insert>

    <update id="updateAutoexecSchedule" parameterType="neatlogic.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        UPDATE `autoexec_schedule`
        SET `name`               = #{name},
            `autoexec_combop_id` = #{autoexecCombopId},
            `begin_time`         = #{beginTime},
            `end_time`           = #{endTime},
            `cron`               = #{cron},
            `is_active`          = #{isActive},
            `config`             = #{configStr},
            `lcd`                = NOW(3),
            `lcu`                = #{lcu}
        WHERE `id` = #{id}
    </update>

    <update id="updateAutoexecScheduleIsActiveById" parameterType="java.lang.Long">
        UPDATE `autoexec_schedule`
        SET `is_active` = 1-`is_active`
        WHERE `id` = #{id}
    </update>

    <delete id="deleteAutoexecScheduleById" parameterType="java.lang.Long">
        DELETE
        FROM `autoexec_schedule`
        WHERE `id` = #{value}
    </delete>
</mapper>