<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.autoexec.dao.mapper.AutoexecProfileMapper">

    <insert id="insertAutoexecProfileTooLByProfileIdAndOptionIdListAndType">
        INSERT INTO autoexec_profile_option ( profile_id, option_id ,type)
        VALUES
        <foreach collection="optionIdList" item="optionId" separator=",">
            (#{profileId},#{optionId},#{type})
        </foreach>
    </insert>

    <insert id="insertProfile" parameterType="codedriver.framework.autoexec.dto.profile.AutoexecProfileVo">
        INSERT INTO autoexec_profile
        (id,
         name,
         description,
         config,
         fcd,
         fcu,
         lcd,
         lcu)
        VALUES (#{id},
                #{name},
                #{description},
                #{configStr},
                NOW(3),
                #{fcu},
                NOW(3),
                #{fcu})
    </insert>

    <update id="updateProfile" parameterType="codedriver.framework.autoexec.dto.profile.AutoexecProfileVo">
        UPDATE `autoexec_profile`
        SET `name`        = #{name},
            `config`      =#{configStr},
            `description` = #{description},
            `lcd`         = NOW(3),
            `lcu`         = #{lcu}
    </update>

    <select id="searchAutoexecProfileCount" parameterType="codedriver.framework.autoexec.dto.profile.AutoexecProfileVo"
            resultType="int">
        SELECT
        COUNT(1)
        <include refid="searchProfile"></include>
    </select>

    <sql id="searchProfile">
        FROM
        `autoexec_profile` a
        <if test="toolId != null">
            LEFT JOIN autoexec_profile_option apo ON apo.profile_id = a.id
        </if>
        <where>
            <if test="keyword != null and keyword != ''">
                AND (a.`name` LIKE CONCAT('%',#{keyword}, '%') OR a.`description` LIKE CONCAT('%',#{keyword}, '%'))
            </if>
            <if test="scriptId != null">
                and apo.`profile_id` = #{optionId}
            </if>
        </where>
    </sql>

    <select id="searchAutoexecProfile"
            resultType="codedriver.framework.autoexec.dto.profile.AutoexecProfileVo">
        SELECT
        a.id,
        a.name,
        a.description,
        a.config as configStr,
        a.fcd,
        a.fcu,
        a.lcd,
        a.lcu
        <include refid="searchProfile"></include>
        ORDER BY a.id DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="checkProfileIsExists" resultType="int">
        SELECT count(1)
        FROM `autoexec_profile`
        WHERE `id` = #{value}
    </select>

    <select id="getProfileVoById" resultType="codedriver.framework.autoexec.dto.profile.AutoexecProfileVo">
        SELECT id,
               name,
               description,
               config as configStr,
               fcd,
               fcu,
               lcd,
               lcu
        FROM autoexec_profile
        WHERE id = #{value}
    </select>

    <select id="getProfileVoByOptionId"
            resultType="codedriver.framework.autoexec.dto.profile.AutoexecProfileOptionVo">
        SELECT profile_id,
               option_id,
               type
        FROM autoexec_profile_option
        WHERE option_id = #{value}
    </select>


    <select id="getProfileToolListByProfileId"
            resultType="codedriver.framework.autoexec.dto.profile.AutoexecProfileOptionVo">
        select profile_id, option_id, type
        from autoexec_profile_option
    </select>

    <select id="getAutoexecProfileIdList" resultType="java.lang.Long">
        SELECT id
        <include refid="searchProfile"></include>
        ORDER BY a.id DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>

    </select>

    <select id="searchProfileListByIdList"
            resultType="codedriver.framework.autoexec.dto.profile.AutoexecProfileVo">
        SELECT id,
        name,
        description,
        config as configStr,
        fcd,
        fcu,
        lcd,
        lcu
        FROM autoexec_profile
        WHERE id in
        <foreach collection="idList" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <delete id="deleteProfileById">
        DELETE
        FROM autoexec_profile
        WHERE id = #{value}
    </delete>

    <delete id="deleteProfileOptionByProfileId">
        DELETE
        FROM autoexec_profile_option
        WHERE profile_id = #{value}
    </delete>
</mapper>

