<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.autoexec.dao.mapper.AutoexecCatalogMapper">

    <select id="checkCatalogIsExistsById" parameterType="java.lang.Long" resultType="int">
        select count(1)
        from `autoexec_catalog`
        where `id` = #{value}
    </select>

    <select id="getCatalogListByIdList" resultType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo">
        select `id`, `name`, `parent_id` as parentId, `lft`, `rht`
        from `autoexec_catalog`
        where `id`
        in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getChildrenByLftRht" resultType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo">
        SELECT `id`,
               `name`,
               `parent_id` as parentId,
               `lft`,
               `rht`
        FROM `autoexec_catalog`
        WHERE `lft` >= #{lft}
          AND `rht` &lt;= #{rht}

    </select>
    <select id="getCatalogById" resultType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo">
        SELECT `id`,
               `name`,
               `parent_id` as parentId,
               `lft`,
               `rht`
        FROM `autoexec_catalog`
        WHERE `id` = #{value}
    </select>



</mapper>

