<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.autoexec.dao.mapper.AutoexecCatalogMapper">

    <select id="getAutoexecCatalogById" parameterType="java.lang.Long"
            resultType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo">
        SELECT
            `id`,
            `name`,
            `parent_id` AS parentId,
            `lft`,
            `rht`
        FROM
            `autoexec_catalog`
        WHERE
            `id` = #{value}
    </select>

    <select id="checkAutoexecCatalogIsExists" parameterType="java.lang.Long" resultType="int">
        SELECT
            count(1)
        FROM
            `autoexec_catalog`
        WHERE
            `id` = #{value}
    </select>

    <select id="checkAutoexecCatalogNameIsRepeat" parameterType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo" resultType="int">
        SELECT
            count(1)
        FROM
            `autoexec_catalog`
        WHERE
            `name` = #{name} AND `id` != #{id}
    </select>

    <select id="searchAutoexecCatalogCount" parameterType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo" resultType="int">
        SELECT
        COUNT(1)
        FROM
        `autoexec_catalog`
        <where>
            <if test="keyword != null and keyword != ''">
                and `name` LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="parentId != null">
                and `parent_id` = #{parentId}
            </if>
        </where>
    </select>

    <select id="searchAutoexecCatalog" parameterType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo" resultType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo">
        SELECT
        `id`,
        `name`,
        `lft`,
        `rht`,
        `parent_id` AS `parentId`
        FROM `autoexec_catalog`
        <where>
            <if test="keyword != null and keyword != ''">
                and `name` LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="parentId != null">
                and `parent_id` = #{parentId}
            </if>
        </where>
        ORDER BY `lft`
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <update id="updateAutoexecCatalogNameById" parameterType="codedriver.framework.autoexec.dto.catalog.AutoexecCatalogVo">
        UPDATE `autoexec_catalog`
        SET `name` = #{name}
        WHERE `id` = #{id}
    </update>

    <insert id="insertAutoexecCatalog">
        insert into `autoexec_catalog`(
            `id`,
            `name`,
            `parent_id`,
            `lft`,
            `rht`
        ) values (
            #{id},
            #{name},
            #{parentId},
            #{lft},
            #{rht}
        )
    </insert>
</mapper>

