<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2021 TechSureCo.,Ltd.AllRightsReserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.autoexec.dao.mapper.AutoexecScheduleMapper">

    <select id="checkAutoexecScheduleNameIsExists"
            parameterType="codedriver.framework.autoexec.dto.schedule.AutoexecScheduleVo" resultType="int">
        SELECT COUNT(1)
        FROM `autoexec_schedule`
        WHERE `name` = #{name}
          and `id` != #{id}
    </select>

    <select id="getAutoexecScheduleById" parameterType="java.lang.Long"
            resultType="codedriver.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        SELECT `id`,
               `uuid`,
               `name`,
               `autoexec_combop_id` AS autoexecCombopId,
               `begin_time`         AS beginTime,
               `end_time`           AS endTime,
               `cron`,
               `is_active`          AS isActive,
               `config`             AS configStr,
               `fcd`,
               `fcu`,
               `lcd`,
               `lcu`
        FROM `autoexec_schedule`
        WHERE `id` = #{value}
    </select>

    <select id="getAutoexecScheduleByUuid" parameterType="java.lang.String"
            resultType="codedriver.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        SELECT `id`,
               `uuid`,
               `name`,
               `autoexec_combop_id` AS autoexecCombopId,
               `begin_time`         AS beginTime,
               `end_time`           AS endTime,
               `cron`,
               `is_active`          AS isActive,
               `config`             AS configStr,
               `fcd`,
               `fcu`,
               `lcd`,
               `lcu`
        FROM `autoexec_schedule`
        WHERE `uuid` = #{value}
    </select>

    <select id="getAutoexecScheduleCount" parameterType="codedriver.framework.autoexec.dto.schedule.AutoexecScheduleVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `autoexec_schedule`
        <where>
            <if test="keyword != null and keyword != ''">
                AND `name` LIKE concat('%', #{keyword}, '%')
            </if>
            <if test="isActive != null">
                AND `is_active` = #{isActive}
            </if>
            <if test="autoexecCombopId != null">
                AND `autoexec_combop_id` = #{autoexecCombopId}
            </if>
        </where>
    </select>

    <select id="getAutoexecScheduleList" parameterType="codedriver.framework.autoexec.dto.schedule.AutoexecScheduleVo"
            resultType="codedriver.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        SELECT
        `id`,
        `uuid`,
        `name`,
        `autoexec_combop_id` AS autoexecCombopId,
        `begin_time` AS beginTime,
        `end_time` AS endTime,
        `cron`,
        `is_active` AS isActive,
        `config` AS configStr,
        `fcd`,
        `fcu`,
        `lcd`,
        `lcu`
        FROM `autoexec_schedule`
        <where>
            <if test="keyword != null and keyword != ''">
                AND `name` LIKE concat('%', #{keyword}, '%')
            </if>
            <if test="isActive != null">
                AND `is_active` = #{isActive}
            </if>
            <if test="autoexecCombopId != null">
                AND `autoexec_combop_id` = #{autoexecCombopId}
            </if>
        </where>
        ORDER BY `lcd` DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <insert id="insertAutoexecSchedule" parameterType="codedriver.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        INSERT INTO `autoexec_schedule` (`id`,
                                         `uuid`,
                                         `name`,
                                         `autoexec_combop_id`,
                                         `begin_time`,
                                         `end_time`,
                                         `cron`,
                                         `is_active`,
                                         `config`,
                                         `fcd`,
                                         `fcu`,
                                         `lcd`,
                                         `lcu`)
        VALUES (#{id},
                #{uuid},
                #{name},
                #{autoexecCombopId},
                #{beginTime},
                #{endTime},
                #{cron},
                #{isActive},
                #{configStr},
                NOW(3),
                #{fcu},
                NOW(3),
                #{fcu})
    </insert>

    <update id="updateAutoexecSchedule" parameterType="codedriver.framework.autoexec.dto.schedule.AutoexecScheduleVo">
        UPDATE `autoexec_schedule`
        SET `name`               = #{name},
            `autoexec_combop_id` = #{autoexecCombopId},
            `begin_time`         = #{beginTime},
            `end_time`           = #{endTime},
            `cron`               = #{cron},
            `is_active`          = #{isActive},
            `config`             = #{configStr},
            `lcd`                = NOW(3),
            `lcu`                = #{lcu}
        WHERE `id` = #{id}
    </update>

    <delete id="deleteAutoexecScheduleById" parameterType="java.lang.Long">
        DELETE
        FROM `autoexec_schedule`
        WHERE `id` = #{value}
    </delete>
</mapper>